<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.BbsTypeDao">
    <!-- BbsType的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_BbsType_Map" type="com.entity.BbsType">
        <id column="id" property="id" />
        <result column="img_url" property="imgUrl" />
        <result column="name" property="name" />
    </resultMap>

	   <!-- Assist用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="Assist">
        <where>
            <foreach collection="require" item="req" separator=" ">
                ${req.require} 
                <if test="req.value != null"> #{req.value}</if> 
                <if test="req.values != null">
                    <foreach collection="req.values" item="val" separator=","> 
                        #{val} 
                    </foreach> 
                </if> 
                <if test="req.suffix != null"> ${req.suffix}</if> 
            </foreach>
        </where>
    </sql>

	   <!-- updateAssist用于更新数据的使用它拓展自Assist,用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="updateAssist">
        <where>
            <foreach collection="assist.require" item="req" separator=" ">
                ${req.require} 
                <if test="req.value != null"> #{req.value}</if> 
                <if test="req.values != null">
                    <foreach collection="req.values" item="val" separator=","> 
                        #{val} 
                    </foreach> 
                </if> 
                <if test="req.suffix != null"> ${req.suffix}</if> 
            </foreach>
        </where>
    </sql>

    <!-- 数据库中表名为:bbs_type的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="bbs_type_Column">
        bbs_type.id as id
        ,bbs_type.img_url as img_url
        ,bbs_type.name as name
    </sql>

    <!--获得类名为:BbsType对应的数据库表的数据总行数 -->
    <select id="getBbsTypeRowCount" parameterType="com.common.Assist" resultType="java.lang.Long">
        select count(id) from bbs_type
        <if test="require!=null"><include refid="Assist" /></if>
    </select>
    <!-- 获得类名为:BbsType对应数据库中表的数据集合 -->
    <select id="selectBbsType" parameterType="com.common.Assist"  resultMap="result_BbsType_Map">
        select  <if test="distinct !=null">${distinct}</if>
        <choose>
            <when test="resultColumn!=null">${resultColumn}</when>
            <otherwise>
        <include refid="bbs_type_Column" /> 
            </otherwise>
        </choose>
        from bbs_type
        <choose>
            <when test="rowSize ==null">
                <if test="require!=null">
                    <include refid="Assist" />
                </if>
                <if test="order !=null">${order}</if>
            </when>
            <otherwise>
                inner join
                (
                SELECT id as primary_key FROM bbs_type
                <if test="require!=null">
                    <include refid="Assist" />
                </if>
                <if test="order !=null">${order}</if>
                <choose>
                    <when test="startRow !=null and rowSize !=null">LIMIT #{startRow},#{rowSize} </when>
                    <when test="rowSize !=null">LIMIT #{rowSize}</when>
                 </choose>
                 ) as tmp
                 on tmp.primary_key=bbs_type.id
            </otherwise>
        </choose>
    </select> 

    <!-- 获得一个BbsType对象,以参数BbsType对象中不为空的属性作为条件进行查询-->
    <select id="selectBbsTypeByObj" parameterType="com.entity.BbsType" resultMap="result_BbsType_Map">
        select 
            <include refid="bbs_type_Column" /> 
        from bbs_type
        <where>
            <if test="name != null "> and bbs_type.name = #{name}</if>
            <if test="imgUrl != null "> and bbs_type.img_url = #{imgUrl}</if>
            <if test="id != null "> and bbs_type.id = #{id}</if>
        </where>
    </select> 

    <!-- 通过BbsType的id获得对应数据库中表的数据对象-->
    <select id="selectBbsTypeById" parameterType="java.lang.Long" resultMap="result_BbsType_Map">
        select 
            <include refid="bbs_type_Column" /> 
        from bbs_type
        where bbs_type.id = #{id}
    </select> 

    <!-- 将BbsType插入到对应数据库的表中,包括属性值为null的数据-->

    <insert id="insertBbsType" parameterType="com.entity.BbsType">
        insert into bbs_type(id,img_url,name) 
        values(#{id},#{imgUrl},#{name})
    </insert>

    <!-- 将BbsType中属性值不为null的数据,插入到对应数据库的表中-->
    <insert id="insertNonEmptyBbsType" parameterType="com.entity.BbsType">
        insert into bbs_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="imgUrl != null">img_url,</if>
            <if test="name != null">name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="imgUrl != null"> #{imgUrl},</if>
            <if test="name != null"> #{name},</if>
        </trim>
    </insert>

    <!-- 将BbsType批量插入到对应数据库的表中-->
    <insert id="insertBbsTypeByBatch" parameterType="ArrayList">
        insert into bbs_type(id,img_url,name) values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id},#{item.imgUrl},#{item.name})
        </foreach>
    </insert>

    <!-- 通过BbsType的id将数据库表中对应的数据删除-->
    <delete id="deleteBbsTypeById" parameterType="java.lang.Long">
        delete from bbs_type
        where id = #{id}
    </delete>

    <!-- 通过辅助工具Assist中的条件将BbsType对应的数据库表的数据删除-->
    <delete id="deleteBbsType" parameterType="com.common.Assist">
        delete from bbs_type
        <if test="require!=null"><include refid="Assist" /></if>
    </delete>

    <!-- 通过BbsType的id将BbsType的数据更新到数据库中对应的表,包括值null的数据-->
    <update id="updateBbsTypeById" parameterType="com.entity.BbsType">
        update bbs_type set
            img_url=#{imgUrl}
            ,name=#{name}
        where id=#{id}
    </update>

    <!-- 通过BbsType的id将BbsType中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptyBbsTypeById" parameterType="com.entity.BbsType">
        update bbs_type
        <set>
            <if test="imgUrl != null">
                img_url=#{imgUrl},
            </if>
            <if test="name != null">
                name=#{name},
            </if>
        </set>
        where id=#{id}
    </update>

    <!-- 通过辅助工具Assist中的条件将BbsType中的数据更新到数据库对应的表中,包括值为null的数据-->
    <update id="updateBbsType" parameterType="map">
        update bbs_type
        <set>
                id=#{enti.id},
                img_url=#{enti.imgUrl},
                name=#{enti.name},
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

    <!-- 通过辅助工具Assist中的条件将BbsType中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptyBbsType" parameterType="map">
        update bbs_type
        <set>
            <if test="enti.id != null">
                id=#{enti.id},
            </if>
            <if test="enti.imgUrl != null">
                img_url=#{enti.imgUrl},
            </if>
            <if test="enti.name != null">
                name=#{enti.name},
            </if>
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

</mapper>